*{
  box-sizing: border-box;
}
.stage {
  position: relative;
  top: 10%;
  height: 80%;
  width: 1000px;
  background: linear-gradient(to bottom, rgba(245,246,246,1) 0%,rgba(219,220,226,1) 21%,rgba(203,205,219,1) 50%,rgba(221,223,227,1) 80%,rgba(245,246,246,1) 100%);
  perspective: 2000px;
  border: 8px solid brown;
  margin: auto;

}

.page {
  transform-origin: 50% 50% 340px;
  position: absolute;
  top: 10%;
  left: 35%;
  height: 80%;
  width: 30%;
  background: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: 5px double brown;
  vertical-align: middle;
}
.page>img{
  position: absolute;
  margin: 50% 0 50% 0;
  width: 100%;
  line-height: inherit;
}


.page-left1 {
  transform: rotateY(55deg);
  z-index: 0;
}

.page-left2 {
  transform: rotateY(80deg);
  z-index: -1;
}

.page-right1 {
  transform: rotateY(-55deg);
  z-index: 0;
}

.page-right2 {
  transform: rotateY(-80deg);
  z-index: -1;
}

.page-center {
  transform: rotateY(0deg);
  
}
.move-page {
  position: absolute;
  width: 100px;
  height: 40px;
  line-height: 40px;
  bottom: 3%;
  text-align: center;
  font-weight: bold;
  color: white;
  background: #999;
  box-shadow: 5px 5px 10px #aaa;
}
.left-page {
  left: 35%;
}
.right-page {
  right: 35%;

}
.page-no {
  position: absolute;
  bottom: 3%;
  width: 100%;
  text-align: center;
  z-index: -1;
}
